<!-- <div class="row">
    <div class="col-md-6">
      <h2>Edit {{ post.Title }}</h2>
    </div>
  </div> -->
  <h2>{{ post?.title | uppercase }} Details</h2>
<!-- <div><span>Id: </span>{{post?.id}}</div> -->
  <div class="row">
      <div class="col-md-6">
          <form #f="ngForm" (ngSubmit)="editPost()"  novalidate>
                <div><span>Id: </span>{{post?.id}}</div>
              <div class="form-group">
                  <label for="title">Title </label>
                  <input *ngIf="post" [(ngModel)]="post.title" placeholder="{{post.title}}" [ngModelOptions]="{standalone: true}">           
              </div>
              <div class="form-group">
                  <label for="body">Body </label>
                  <input *ngIf="post" [(ngModel)]="post.body" placeholder="{{post.body}}" [ngModelOptions]="{standalone: true}">
                  <!-- <input type="text" class="form-control" id="body" placeholder="{{ post.body }}"  value="{{ post.body }}" name="Body" tmFocus ngModel>-->
              </div>
              <div><label for="color">Color </label> 
                <input *ngIf="post" type="text" name="color"  id="post.color" value="{{post.color}}" [(colorPicker)]="post.color"  [style.background]="post.color" ngModel ></div>
              <div class="form-group">
                  <button type="submit" class="btn btn-light" [disabled]="f.invalid || isRequesting">Update</button>
                  <app-spinner> [isRunning]="isRequesting"></app-spinner> 
              </div>
              <div *ngIf="errors" class="alert alert-danger" role="alert">
                  <strong>Oops!</strong> {{errors}}
                </div>               
            </form>
       </div>
    </div>
