
  <h2><strong>Create new post</strong></h2>
  <div class="row">
      <div class="col-md-6">
          <form #f="ngForm" (ngSubmit)="createPost(f)"  novalidate>
              <div class="form-group">
                  <label for="title">Title </label>
                  <input placeholder="Title"  name="title"  id="title" ngModel>           
              </div>
              <div class="form-group">
                  <label for="body">Body </label>
                  <input  placeholder="Body"  name="body"  id="body" ngModel>
                  <!-- <input type="text" class="form-control" id="body" placeholder="{{ post.body }}"  value="{{ post.body }}" name="Body" tmFocus ngModel>-->
              </div>
              <div><label for="color">Color </label> <input type="text" name="color"  id="color"  [(colorPicker)]="color" [value]="color" [style.background]="color" ngModel>
              </div>
              <div class="form-group">
                  <button type="submit" class="btn btn-light" [disabled]="f.invalid || isRequesting">Create</button>
                  <app-spinner> [isRunning]="isRequesting"></app-spinner> 
              </div>
              <div *ngIf="errors" class="alert alert-danger" role="alert">
                  <strong>Oops!</strong> {{errors}}
                </div>               
            </form>
            
       </div>
    </div>
